BasedOnStyle: LLVM
ColumnLimit: 160
IndentWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakOpenParenthesis: 100000
PenaltyBreakAssignment: 10
PenaltyExcessCharacter: 20
Cpp11BracedListStyle: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
